@helper ResultPresenter(bool isMobile, string textToSearch, string dictionaryPath)
    {
        if (!string.IsNullOrEmpty(textToSearch))
        {

            var resolver = new Backend.NumberResolver(dictionaryPath);
            var results = resolver.Search(textToSearch);

            if (results.Count == 0)
            {
    <span>move along, nothing to see here</span>
            }
            else
            {
    <br />
                int prefixLength = 0;

                if (isMobile)
                {
    <ul data-role="listview">
        @foreach (var result in results)
        {
            <li data-role="list-divider"><span style="font-weight: lighter; color: #D0D0D0">@textToSearch.Substring(0, prefixLength)</span>
                @result.Number
                @{
            prefixLength += result.Number.Length;
                }
                <span style="font-weight: lighter; color: #D0D0D0">@textToSearch.Substring(prefixLength)</span>
            </li>
            <li>@string.Join(", ", result.Words)</li>
        }
    </ul>
                }
                else
                {   
    <table width="100%">
        @foreach (var result in results)
        {
            <tr>
                <th>
                    <span style="font-weight: lighter; color: #B0B0B0">@textToSearch.Substring(0, prefixLength)</span>
                    @result.Number
                    @{
            prefixLength += result.Number.Length;
                    }
                    <span style="font-weight: lighter; color: #B0B0B0">@textToSearch.Substring(prefixLength)</span>
                </th>
            </tr>
            <tr style="background-color: #c7d1d6">
                <td>
                    <span style="padding-left: 5px">@string.Join(", ", result.Words)</span>
                </td>
            </tr>
        }
    </table>
                }
            }
        }    
}
@if (!Request.Browser.IsMobileDevice)
{ 
    <div data-role="header">
        <h2>
            MnemoResolver</h2>
    </div>
}
<section>
    @using (Html.BeginForm(null, null, FormMethod.Post))
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $("#SearchBox").focus();
            }
            );
        </script>
        
        @Html.TextBox("SearchBox", @ViewBag.SearchText as string, new { placeholder = "Enter a number you want to memorize" })
        <input type="submit" value="Search" />
        @ResultPresenter(Request.Browser.IsMobileDevice, @ViewBag.SearchText, @ViewBag.DictionaryPath)
    }
</section>
