@helper ResultPresenter(bool isMobile, string textToSearch, string dictionaryPath)
    {
    if (!string.IsNullOrEmpty(textToSearch))
    {

        var resolver = new Backend.NumberResolver(dictionaryPath);
        var results = resolver.Search(textToSearch);

        if (results.Keys.Count == 0)
        {
    <span>move along, nothing to see here</span>
        }
        else
        {
    <br />
            if (isMobile)
            {
    <ul data-role="listview">
        @foreach (var result in results)
        {
            <li data-role="list-divider">@result.Key</li>
            <li>@string.Join(", ", result.Value.ToArray())</li>
        }
    </ul>
            }
            else
            {   
    <table>
        @foreach (var result in results)
        {
            <tr>
                <th>@result.Key
                </th>
            </tr>
            <tr style="background-color: #c7d1d6">
                <td>
                    <span style="padding-left: 5px">@string.Join(", ", result.Value.ToArray())</span>
                </td>
            </tr>
        }
    </table>
            }
        }
    }    
}
@if (!Request.Browser.IsMobileDevice)
{ 
    <div data-role="header">
        <h2>MnemoResolver</h2>
    </div>
}
<section>
    @using (Html.BeginForm(null, null, FormMethod.Post))
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $("#SearchBox").focus();
            }
            );
        </script>
        
        @Html.TextBox("SearchBox", @ViewBag.SearchText as string, new { placeholder = "Enter a number you want to memorize" })
        <input type="submit" value="Search" />
        @ResultPresenter(Request.Browser.IsMobileDevice, @ViewBag.SearchText, @ViewBag.DictionaryPath)
    }
</section>
